eProject_client/web/WEB-INF/wsdl/localhost_8080/WSPaymentApp/WSPayment.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.mike.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mike.com/">

<xs:element name="PaymentOnline" type="tns:PaymentOnline" />

<xs:element name="PaymentOnlineResponse" type="tns:PaymentOnlineResponse" />

<xs:complexType name="PaymentOnline">
<xs:sequence>
<xs:element name="bankCodeClient" type="xs:string" minOccurs="0" />
<xs:element name="bankCodeCompany" type="xs:string" minOccurs="0" />
<xs:element name="money" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentOnlineResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>